<div class="col-md-3 col-xs-6">
  <a href="/marketplace/acp/<%= plugInPage %>">
    <div id="" class="plugin-card">
      <div class="product-image">
        <img src="//d.stockcharts.com/img/<%= plugInImage %>" alt="<%= plugInImageAlt %>" />
      </div>
      <div class="btn-row">
        <a href="/marketplace/acp/<%= plugInPage %>" class="btn btn-blue btn-transparent btn-rounded btn-xs btn-margin-0">See&nbsp;More&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </a>
</div>
