<div class="col-md-3 col-xs-6">
  <a href="javascript:void(0);">
    <div id="" class="plugin-card">
      <div class="product-image">
        <img src="//d.stockcharts.com/img/<%= plugInImage %>" alt="<%= plugInImageAlt %>" />
      </div>
      <div class="btn-row">
        <a href="javascript:void(0);" class="btn btn-darkgrey btn-transparent btn-rounded btn-xs btn-margin-0">COMING&nbsp;SOON</a>
      </div>
    </div>
  </a>
</div>
