<div id="buyButton-wrapper" class="btn-row">
  <button type="button" id="buyButton" onclick="doInstall();" class="btn btn-green btn-rounded btn-md btn-margin-0"><i class="fas fa-plug"></i>&nbsp;&nbsp;Install Now</button>
</div>

<div id="freeButton-wrapper" class="btn-row">
 <button type="button" class="btn btn-green btn-rounded btn-md btn-margin-0" data-toggle="modal" data-target="#modal_sccTrial"><i class="fas fa-plug"></i>&nbsp;&nbsp;Install Now</button>
</div>
