<div class="alert alert-secondary">
  <a href="<%= helpCenterLink %>" target="_blank">Click&nbsp;here</a> for more information about how to use the "<%= plugInTitle %>" plug-in.
  The documentation provided in our Support&nbsp;Center will help make sure you get the most out of this unique ACP&nbsp;plug-in.
</div>
