<!-- MARKETPLACE HEADER -->
<header id="marketplace-header" class="header-slim">
  <div class="container">
    <div class="img-bg plugins-header-bg"></div>
    <div class="col-xs-12 text-col">
      <h3><a href="/marketplace/acp/">ACP Plug-Ins</a></h3>
      <h1><%- plugInName %></h1>
    </div>
  </div>
</header><!-- end of MARKETPLACE HEADER -->
