<h2 class="title-blue"><%= title %></h2>
                            
<h4 class="plugin-price">Price: <span class="plugin-price"><%= price %></span></h4>

<div id="id-alert" class="alert alert-warning" style="margin:30px 0 0 0; font-weight:bold; text-align:left;">
  <span style="text-decoration:underline; font-weight:900;">IMPORTANT NOTE:</span>
  <br />
  Please use the same email address as your StockCharts "User&nbsp;ID" when purchasing this plug-in to make sure that it is installed automatically.

  <br />
  <br />For reference, your User&nbsp;ID is:
  <span id="user-id" style="font-weight:900;"></span>
</div>
