<h2><i class="fas fa-fw fa-user-tie"></i>&nbsp;About The Creator</h2>

<p>
  MarketGauge.com provides mechanical trading systems, indicators, discretionary strategies, current market analysis and trading education to individuals and institutions.
  Its services have helped thousands of individual traders, and have been part of product offerings within large financial institutions and publications such as Barron's, Fidelity, ILX Systems, Thomson Reuters and Bank of America.
  <br />
  <br />
  The partners at MarketGauge, Keith Schneider, Michele Schneider, and Geoff Bysshe have experience as floor traders, asset managers, and share their insights through newsletters, trading services, and live teaching events.
  Additionally, Michele is a frequent commentator on major financial news networks and has a recurring show on StockCharts&nbsp;TV.
</p>
