<div class="section-links-row border-bottom">
  <div class="section-links-row-bound">
    <ul class="section-links-row-ul">
      <li><a href="#aboutPartner" class="page-scroll"><i class="fas fa-info-circle"></i>About the Author</a></li>
      <li><a href="#partnerProducts" class="page-scroll"><i class="fas fa-unlock-alt"></i>Exclusive Content</a></li>
      <li><a href="/marketplace/"><i class="far fa-shopping-bag"></i>Marketplace</a></li>
    </ul>
  </div>
</div>
