<header id="partnerCenter-header" class="header-slim">
  <div class="container">
    <div class="img-bg partner-center-bg"></div>
    <div class="col-xs-12 text-col">
      <h3>StockCharts Marketplace</h3>
      <h1><%= partnerName %></h1>
    </div>
  </div>
</header>
