<h2><i class="fas fa-fw fa-plug"></i>&nbsp;About ACP Plug-Ins</h2>

<p>
  With exclusive plug-ins from a wide variety of renowned indicator creators, technical experts and charting legends, we've partnered with the industry's best to bring you even more charting power in ACP.
  By installing any of our unique plug-ins, you can instantly enhance your ACP experience with additional indicators, overlays, chart customizations and more.
  <br />
  <br />
  <b>Please note: the "Trend Investor Pro Indicator&nbsp;Edge" plug-in for ACP is non-refundable.</b>
</p>

<h2><i class="fas fa-fw fa-info-circle"></i>&nbsp;How It Works</h2>

<p>
  To install any of our free ACP plug-ins, simply log in to your account, click the install button up above and the plug-in will be instantly added to your ACP experience.
  The next time you visit ACP, you'll find the contents of your new plug-in right there waiting for you.
  <br />
  <br />
  For any of our for-purchase plug-ins, the process works in a very similar fashion.
  When you click the "Buy&nbsp;Now" button, a checkout window will pop up on top of the page.
  Follow the payment steps there to purchase the plug-in, and it will be automatically installed into your account as soon as your checkout is complete. 
</p>

<h2><i class="fal fa-fw fa-analytics"></i>&nbsp;About StockChartsACP</h2>

<p>
  StockChartsACP is our new, interactive Advanced Charting Platform.
  With a feature-rich experience that integrates seamlessly with the entire StockCharts toolkit, ACP is designed to empower YOU - the modern investor.
  Create advanced technical charts with ease, choosing from dozens of indicators, overlays, display settings and color schemes.
  Configure and store customizable layouts with multiple charts on your screen at once.
  With an ultra-dynamic, highly-flexible charting experience, ACP is designed to redefine the way that you see and analyze the financial markets, with more technical tools and capabilities than ever before.
</p>
