<!-- PLUGIN INSTALL MODAL -->
<div id="modal_pluginInstalled" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times-circle"></i></span></button>
        <h4 class="modal-title"><i class="fas fa-plug"></i>Plug-In Installed!</h4>
      </div>
      <div class="modal-body">

        <p class="info">
          <b>Success!</b>
          Your new plug-in has been installed and is ready for use in ACP.
        </p>

        <p class="info">
          In the Chart Settings tab of the left sidebar, you'll find the new indicators associated with this plug-in listed under the "Add Indicators" menu.
          You can add them to your charts just like any other standard indicator.
          <em>Enjoy!</em>
        </p>
        
        <!-- BUTTON ROW -->
        <div class="btn-row">
          <a href="/acp" class="btn btn-blue btn-rounded">Launch ACP&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
          <button type="button" class="btn-row-link" data-dismiss="modal">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of PLUGIN INSTALL MODAL -->
