<!-- SCC TRIAL MODAL -->
<div id="modal_sccTrial" class="modal fade" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times-circle"></i></span></button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="//d.stockcharts.com/img/chartwatchers/stockcharts-signup.jpg" alt="StockCharts Features" class="header-image" />
        <div class="textwrap">
          <h4 class="red">This feature is for StockCharts Members only</h4>
          <h2>Unlock all of our most powerful tools and features</h2>
          <p>Create bigger, better, more advanced charts. Save them to your account and organize the charts you're watching to streamline your portfolio management. Run custom scans to find new trading and investment opportunities, and set automatic alerts with your own unique technical&nbsp;criteria.</p>
          <p><b>Start your free 1-month trial in less&nbsp;than&nbsp;60&nbsp;seconds.</b></p>
          <div class="btn-row">
            <a href="/checkout/freetrial/" target="_blank" class="btn btn-lightgreen btn-md btn-rounded btn-margin-0"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Free&nbsp;1-Month&nbsp;Trial</a>
            <a href="/" class="btn-row-link">Learn&nbsp;More</a>
            <a data-dismiss="modal" class="btn-row-close">No&nbsp;Thanks</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of SCC TRIAL MODAL -->
