<!-- JAVASCIPT WARNING -->
<noscript>
  <div class="alert alert-danger" role="alert">
    <h2>Attention: your browser does not have JavaScript enabled!</h2>
    <p><b>In order to use StockCharts.com successfully, you must enable JavaScript in your browser.</b><br /><a href="https://www.enable-javascript.com" target="_blank">Click Here</a> to learn how to enable JavaScript.</p>
  </div>
</noscript>
