<div id="buyButton-wrapper" class="btn-row">
  <button type="button" class="btn btn-green btn-rounded btn-md btn-margin-0" data-toggle="modal" data-target="#modal_pluginInstalled"><i class="fas fa-plug"></i>&nbsp;&nbsp;Install Now</button>
</div>

<div id="freeButton-wrapper" class="btn-row">
  <button type="button" class="btn btn-green btn-rounded btn-md btn-margin-0" data-toggle="modal" data-target="#modal_sccTrial"><i class="fas fa-plug"></i>&nbsp;&nbsp;Install Now</button>
</div>

<div id="manageButton-wrapper" class="btn-row">
  <button type="button" class="btn btn-blue btn-rounded btn-md btn-margin-0" onclick="getCBPortal();"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Manage Subscription</button>
</div>
