<div class="video-embed">
  <div class="embed-wrap">
    <div class="embed-responsive embed-responsive-16by9">
      <!-- VIDEO EMBED (needs class 'embed-responsive-item') -->
      <iframe class="embed-responsive-item" width="560" height="315" src="<%= youtubeLink %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
  </div><!-- end of VID BOUND -->
</div>
