<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/html-head-meta %>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>Arthur Hill | StockCharts Marketplace | StockCharts.com</title>
    
    <% include ../partials/scc-html-head %>
  </head>
  <body id="page-top">
    <% include ../partials/scc-navbar %>

    <!-- PAGEBODY -->
    <div id="pagebody">

      <%- include('../partials/partner-center-header', {
        partnerName: 'Arthur Hill'
      }); -%>

      <!-- PAGECONTENTS -->
      <div id="pagecontents">

        <% include ../partials/partner-links-row %>

        <div class="container-fluid">

          <!-- ABOUT PARTNER -->
          <div id="aboutPartner" class="section bg-white">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 about-partner-sidebar">
                  <div class="partner-headshot">
                    <img src="//d.stockcharts.com/img/bio/arthur-hill.jpg" alt="Arthur Hill" />
                  </div>
                  <div class="textwrap">
                    <h5 class="partner-title">
                      Senior Technical Analyst, StockCharts.com
                    </h5>
                    <div class="partner-website">
                      <a href="#" target="_blank">TrendInvestorPro.com</a>
                    </div>
                    <div class="partner-social">
                      <a href="https://twitter.com/ArthurHill" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12 about-partner-body">
                  <div class="partner-headshot">
                    <img src="//d.stockcharts.com/img/bio/arthur-hill.jpg" alt="Arthur Hill" />
                  </div>
                  <h2 class="sec-title title-blue">ABOUT ARTHUR</h2>
                  <hr class="line-thick line-50">
                  <p class="info">
                    <b>Arthur Hill</b>, CMT, is a Senior Technical Analyst at StockCharts.com. Focusing predominantly on US equities and ETFs, his systematic approach of identifying trend, finding signals within the trend, and setting
                    key price levels has made him an esteemed market technician. Arthur has written articles for numerous financial publications including Barrons and Stocks &amp; Commodities Magazine. In addition to his Chartered Market
                    Technician (CMT) designation, he holds an MBA from the Cass Business School at City University in London.
                  </p>
                  <p class="info">
                    Arthur takes a quantitative approach to trading using simple strategies and repeatable processes. Many of these strategies have been backtested and he often shares the results, as well as the strategy. Arthur uses a three-step process to find trading
                    candidates. First, a weight-of-the-evidence approach is used to establish the broad market environment (bull market or bear market). Second, trend and momentum filters are utilized to identify strong sectors, industry
                    groups, and stocks. Third, pattern analysis and momentum oscillators are used to identify tradable pullbacks. Further elements of his trading strategy include a short-term catalyst for entry, an exit strategy, and a
                    profit target. Arthur's favorite indicator is RSI.
                  </p>
                  <p class="info">
                    Arthur brings over 20 years experience as a trader, technical analyst, and educator. In addition to providing timely analysis and commentary under both the <b>Art's Charts</b> and <b>Don't Ignore This Chart</b> blogs,
                    he is responsible for writing the vast majority of the educational content in the website's <b>ChartSchool</b> area. Arthur has also produced dozens of instructional videos for StockCharts.com.
                  </p>
                  <p class="info">
                    Arthur has written a book defining his process: Define the Trend and Trade the Trend. This book shows beginner and intermediate level chartists how to determine trend direction and find low-risk entry points within that trend. He has been featured in
                    Stocks &amp; Commodities Magazine, the CMT Association Webcasts, the Benzinga Premarket Prep and the Financial Sense News Hour, and been quoted in other financial publications.
                  </p>
                  <p class="info">
                    Arthur received a B.S. in Political Science and Russian Studies from the University of Houston, and an MBA (Finance) from City University Business School in London. He is a Chartered Market Technician (CMT) and a member of the CMT Association. When not
                    immersed in the markets, he enjoys family time, tennis and scuba diving.
                  </p>
                  <div class="partner-social">
                    <a href="https://twitter.com/ArthurHill" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                  </div>
                  <div class="alert alert-secondary more-info">
                    For more information about Arthur Hill and his work, visit his personal website at <a href="#" target="_blank" style="font-weight:bold;">TrendInvestorPro.com</a>.
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end of ABOUT PARTNER -->

          <!-- PARTNER PRODUCTS -->
          <div id="partnerProducts" class="section sec-md bg-grey">
            <div class="container">

              <!-- NEWSLETTERS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-newspaper"></i> NEWSLETTERS / COMMENTARY</h2>
                </div>
              </div><!-- end of NEWSLETTERS -->

              <!-- BOOKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="fas fa-fw fa-books"></i> BOOKS</h2>
                </div>

                <!-- PRODUCT GRID -->
                <div class="col-xs-12 partner-grid product-grid">
                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <h3>Define the Trend and Trade the Trend</h3>
                      </div>
                      <!--<div class="product-image floated">
                        <img src="//d.stockcharts.com/img/scfd-front.jpg" alt="Stock Charts For Dummies Book" />
                      </div>-->
                      <h4 class="sec-subtitle">
                        How to Identify, Follow and Time the Trend using Price Charts by Arthur B. Hill
                      </h4>
                      <p class="info info-margin-15">
                        <em>Define the Trend and Trade the Trend</em> shows how basic chart analysis can be used to generate buy and sell signals for stocks and other financial instruments.
                      </p>
                      <p class="info info-margin-15">
                        Geared towards beginner and intermediate chartists, this book puts theory into action with real-world examples. Chart reading is visually oriented because prices form recognizable patterns over time. These patterns can be used to determine the overall
                        trend, estimate the depth of a correction and identify reversal points.
                      </p>
                      <p class="info info-margin-15">
                        Armed with this knowledge, chartists can compute the reward-to-risk ratio and determine if the reward is worth the risk. Packed with over 100 real-world examples, this book will serve as your reference for trading these key patterns.
                      </p>
                      <div class="btn-row">
                        <a href="https://store.stockcharts.com/products/define-the-trend-and-trade-the-trend" class="btn btn-green btn-transparent btn-rounded btn-sm btn-margin-0">Purchase&nbsp;Now&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        <a href="https://store.stockcharts.com/products/define-the-trend-and-trade-the-trend" class="btn-row-link link-grey">or Learn More</a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->
                </div><!-- end of PRODUCT GRID -->
              </div><!-- end of BOOKS -->

              <!-- RESEARCH SUBSCRIPTIONS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-lightbulb"></i> RESEARCH SUBSCRIPTIONS</h2>
                </div>
              </div><!-- end of RESEARCH SUBSCRIPTIONS -->

              <!-- VIDEOS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-video-plus"></i> VIDEOS</h2>
                </div>
              </div><!-- end of VIDEOS -->

              <!-- COURSES -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-graduation-cap"></i> COURSES</h2>
                </div>
              </div><!-- end of COURSES -->

              <!-- CHARTPACKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-box-full"></i> CHARTPACKS</h2>
                </div>
              </div><!-- end of CHARTPACKS -->

              <!-- SCANPACKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-funnel-dollar"></i> SCANPACKS</h2>
                </div>
              </div><!-- end of SCANPACKS -->

            </div>
          </div><!-- end of PARTNER PRODUCTS -->

        </div><!-- end of .CONTAINER-FLUID -->
      </div><!-- end of #PAGECONTENTS -->
    </div><!-- end of #PAGEBODY -->

    <% include ../partials/scc-footer %>
    <% include ../partials/scc-noscript %>
    <% include ../partials/scc-easing-sliding-js %>
  </body>
</html>
