<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/html-head-meta %>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>David Keller | StockCharts Marketplace | StockCharts.com</title>
    
    <% include ../partials/scc-html-head %>
  </head>
  <body id="page-top">
    <% include ../partials/scc-navbar %>

    <!-- PAGEBODY -->
    <div id="pagebody">

      <%- include('../partials/partner-center-header', {
        partnerName: 'David Keller'
      }); -%>

      <!-- PAGECONTENTS -->
      <div id="pagecontents">

        <% include ../partials/partner-links-row %>

        <div class="container-fluid">

          <!-- ABOUT PARTNER -->
          <div id="aboutPartner" class="section bg-white">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 about-partner-sidebar">
                  <div class="partner-headshot">
                    <img src="//d.stockcharts.com/img/bio/david-keller.jpg" alt="David Keller" />
                  </div>
                  <div class="textwrap">
                    <h5 class="partner-title">
                      Chief Market Strategist, StockCharts.com
                    </h5>
                    <div class="partner-website">
                      <a href="https://www.marketmisbehavior.com/" target="_blank">Sierra Alpha Research</a>
                    </div>
                    <div class="partner-social">
                      <a href="https://twitter.com/DKellerCMT" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                      <a href="https://www.linkedin.com/in/dckeller" target="_blank"><i class="fab fa-fw fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12 about-partner-body">
                  <div class="partner-headshot">
                    <img src="//d.stockcharts.com/img/bio/david-keller.jpg" alt="David Keller" />
                  </div>
                  <h2 class="sec-title title-blue">ABOUT DAVID</h2>
                  <hr class="line-thick line-50">
                  <p class="info">
                    <b>David Keller</b> is...
                  </p>
                  <p class="info">
                    ...
                  </p>
                  <p class="info">
                    ...
                  </p>
                  <div class="partner-social">
                    <a href="https://twitter.com/DKellerCMT" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/dckeller" target="_blank"><i class="fab fa-fw fa-linkedin"></i></a>
                  </div>
                  <div class="alert alert-secondary more-info">
                    For more information about David Keller and his work, visit his personal website at <a href="https://www.marketmisbehavior.com/" target="_blank" style="font-weight:bold;">MarketMisbehavior.com</a>.
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end of ABOUT PARTNER -->

          <!-- PARTNER PRODUCTS -->
          <div id="partnerProducts" class="section sec-md bg-grey">
            <div class="container">

              <!-- NEWSLETTERS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-newspaper"></i> NEWSLETTERS / COMMENTARY</h2>
                </div>
              </div><!-- end of NEWSLETTERS -->

              <!-- BOOKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="fas fa-fw fa-books"></i> BOOKS</h2>
                </div>
              </div><!-- end of BOOKS -->

              <!-- RESEARCH SUBSCRIPTIONS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-lightbulb"></i> RESEARCH SUBSCRIPTIONS</h2>
                </div>
              </div><!-- end of RESEARCH SUBSCRIPTIONS -->

              <!-- VIDEOS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-video-plus"></i> VIDEOS</h2>
                </div>
              </div><!-- end of VIDEOS -->

              <!-- COURSES -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-graduation-cap"></i> COURSES</h2>
                </div>
              </div><!-- end of COURSES -->

              <!-- CHARTPACKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-box-full"></i> CHARTPACKS</h2>
                </div>
              </div><!-- end of CHARTPACKS -->

              <!-- SCANPACKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-funnel-dollar"></i> SCANPACKS</h2>
                </div>
              </div><!-- end of SCANPACKS -->

            </div>
          </div><!-- end of PARTNER PRODUCTS -->

        </div><!-- end of .CONTAINER-FLUID -->
      </div><!-- end of #PAGECONTENTS -->
    </div><!-- end of #PAGEBODY -->

    <% include ../partials/scc-footer %>
    <% include ../partials/scc-noscript %>
    <% include ../partials/scc-easing-sliding-js %>
  </body>
</html>
