<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/html-head-meta %>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>Martin Pring | StockCharts Marketplace | StockCharts.com</title>
    
    <% include ../partials/scc-html-head %>
  </head>
  <body id="page-top">
    <% include ../partials/scc-navbar %>

    <!-- PAGEBODY -->
    <div id="pagebody">

      <%- include('../partials/partner-center-header', {
        partnerName: 'Martin Pring'
      }); -%>

      <!-- PAGECONTENTS -->
      <div id="pagecontents">

        <% include ../partials/partner-links-row %>

        <div class="container-fluid">

          <!-- ABOUT PARTNER -->
          <div id="aboutPartner" class="section bg-white">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 about-partner-sidebar">
                  <div class="partner-headshot">
                    <img src="//d.stockcharts.com/img/bio/martin-pring.jpg" alt="Martin Pring" />
                  </div>
                  <div class="textwrap">
                    <h5 class="partner-title">
                      Investment Strategist, Pring&nbsp;Turner Capital Group
                    </h5>
                    <div class="partner-website">
                      <a href="http://pring.com" target="_blank">Pring.com</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12 about-partner-body">
                  <div class="partner-headshot">
                    <img src="//d.stockcharts.com/img/bio/martin-pring.jpg" alt="Martin Pring" />
                  </div>
                  <h2 class="sec-title title-blue">ABOUT MARTIN</h2>
                  <hr class="line-thick line-50">
                  <p class="info">
                    <b>Martin Pring</b> is one of the most prominent names in the charting industry. A master technical analyst and educator extraordinaire, he is the award-winning author of numerous books on Technical Analysis, including
                    <a href="https://store.stockcharts.com/products/martin-prings-introduction-to-technical-analysis-2nd-edition">Introduction to Technical Analysis</a> and <a href="https://store.stockcharts.com/products/technical-analysis-explained-5th-edition">Technical Analysis Explained</a>.
                    The latter is now used by several international technical societies for training and for several decades was one of the three core books for Level 1 CMT certification with the Market Technicians Association.
                  </p>
                  <p class="info">
                    Translated into over 7 languages, the book is, as quoted by Forbes, <em>"widely regarded as the standard work for this generation of chartists"</em>. According to Futures Magazine, <em>"it is one of the best books on technical analysis to come out since Edwards &amp; Magee's classic text in 1948...belongs on the shelf of every serious trader and technical analyst"</em>.
                    As a leader in the global investment community and a highly-sought after speaker worldwide, Martin's articles have been featured in Barrons and he has been quoted in <em>The Wall Street Journal, International Herald Tribune, The New York Post</em>                                    and more. He is also an adjunct professor at Golden Gate University.
                  </p>
                  <p class="info">
                    Martin founded Pring Research in 1981 and began providing research for financial institutions and individual investors around the world. He also helped form Pring Turner Capital with Joe Turner in 1988 and is currently the firm's strategist. In 2012,
                    Dow Jones Indexes validated the Pring Turner All-Season investment strategy and created their first active business cycle index, the Dow Jones Pring U.S. Business Cycle Index. The index was developed as a unique tool
                    for measuring our investment strategy that dynamically adjusts as the economic landscape changes.
                  </p>
                  <p class="info">
                    Martin's research has led to the development of reliable financial and economic indicators for timely and effective forecasting. His personal barometers for the Bond, Equity and Commodities markets have identified major turning points since the 1950's
                    on a timely basis and have outperformed the common buy/hold approach by a wide margin. On StockCharts.com, Martin is responsible for creating the Know Sure Thing (KST) as well as the Special K indicators.
                  </p>
                  <div class="alert alert-secondary more-info">
                    For more information about Martin Pring and his work, visit his personal website at <a href="http://pring.com" target="_blank" style="font-weight:bold;">Pring.com</a>.
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end of ABOUT PARTNER -->

          <!-- PARTNER PRODUCTS -->
          <div id="partnerProducts" class="section sec-md bg-grey">
            <div class="container">

              <!-- NEWSLETTERS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-newspaper"></i> NEWSLETTERS / COMMENTARY</h2>
                </div>

                <!-- PRODUCT GRID -->
                <div class="col-xs-12 partner-grid product-grid">
                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <div class="product-label label-green">EMAIL NEWSLETTER</div>
                        <h3>Martin Pring's Monthly InterMarket Review</h3>
                      </div>
                      <p class="info info-margin-15">
                        A 34+ page monthly publication which will keep you current on the U.S. Bond, stock, and precious metal markets. Each issue also contains up-to-date information on currencies, international debt, equity markets and commodity indices.
                      </p>
                      <p class="info info-margin-15">
                        This is the only source that uses Martin's 6-stage Business Cycle approach. The business cycle has seasons just like a calendar year. Each of the six distinct stages, or seasons, can be used to create new investment opportunities and reap their profits.
                        The InterMarket Review identifies these stages and explains how they will affect your portfolio. Martin provides specific asset allocation recommendations, along with market developments you need to be aware
                        of.
                      </p>
                      <p class="info">
                        Subscription length is 3 months and is automatically renewed.
                        <br /> Trial Subscription: <b>&#36;75.00</b>
                        <br /> Renewal: <b>&#36;100.00</b>
                      </p>
                      <div class="btn-row">
                        <a href="http://pring.com/shopsite_sc/store/html/page5.html" target="_blank" class="btn btn-blue btn-transparent btn-rounded btn-sm btn-margin-0">Subscribe&nbsp;Now&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        <a href="http://pring.com/newsletters.htm" target="_blank" class="btn-row-link link-grey">or Learn More</a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->

                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col" style="display:none;">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <div class="product-label label-red">VIDEO PRESENTATION</div>
                        <h3>Martin Pring's Market Roundup</h3>
                      </div>
                      <p class="info info-margin-15">
                        Subscribe to Martin's monthly 1-hour Market Roundup video, where he shares his unique insights into the global market landscape and the uncovers the most important charts and technical developments.
                      </p>
                      <p class="info">
                        Monthly Subscription: <b>&#36;19.95 / month</b>
                      </p>
                      <div class="btn-row">
                        <a href="#" target="_blank" class="btn btn-blue btn-transparent btn-rounded btn-sm btn-margin-0">Subscribe&nbsp;Now&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->
                </div><!-- end of PRODUCT GRID -->
              </div><!-- end of NEWSLETTERS -->

              <!-- VIDEOS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-video-plus"></i> VIDEOS</h2>
                </div>

                <!-- PRODUCT GRID -->
                <div class="col-xs-12 partner-grid product-grid">
                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <h3>The Special K Online Tutorial</h3>
                      </div>
                      <p class="info info-margin-15">
                        A 45-minute video presentation explaining how Martin's new indicator, <b>The&nbsp;Special&nbsp;K</b>, works and how to apply the Special K in your analysis.
                      </p>
                      <p class="info">
                        Price: <b>&#36;19.95</b>
                      </p>
                      <div class="btn-row">
                        <a href="http://pring.com/products/specialk-intro.html" target="_blank" class="btn btn-green btn-transparent btn-rounded btn-sm btn-margin-0">Purchase&nbsp;Now&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->
                </div><!-- end of PRODUCT GRID -->
              </div><!-- end of VIDEOS -->

              <!-- BOOKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="fas fa-fw fa-books"></i> BOOKS</h2>
                </div>

                <!-- PRODUCT GRID -->
                <div class="col-xs-12 partner-grid product-grid">
                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <h3>Technical Analysis Explained (5th Edition)</h3>
                      </div>
                      <!--<div class="product-image floated">
                        <img src="https://stockmarketmastery.com/img/products/tt-book.jpg" alt="Tensile Trading Book" />
                      </div>-->
                      <h4 class="sec-subtitle">
                        The guide technicians turn to for answers--tuned up to provide an advantage in today's global economy
                      </h4>
                      <p class="info info-margin-15">
                        The face of investing has significantly changed in the 30 years since this book's first publication, but one essential component of the markets has not--human behavior. Whether you're trading cornerstone commodities or innovative investment products,
                        observing how investors responded to past events through technical analysis is your key to forecasting when to buy and sell in the future. This fully updated fifth edition shows you how to maximize your profits
                        in today's complex markets by tailoring your application of this powerful tool.
                      </p>
                      <p class="info info-margin-15">
                        When used with patience and discipline, Technical Analysis Explained, Fifth Edition, will make you a better decision maker and increase your chances of greater profits.
                      </p>
                      <div class="btn-row">
                        <a href="https://store.stockcharts.com/products/technical-analysis-explained-5th-edition?_pos=6&_sid=83c3094d6&_ss=r" class="btn btn-green btn-transparent btn-rounded btn-sm btn-margin-0">Purchase&nbsp;Now&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        <a href="https://store.stockcharts.com/products/technical-analysis-explained-5th-edition?_pos=6&_sid=83c3094d6&_ss=r" class="btn-row-link link-grey">or Learn More</a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->

                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <h3>Introduction to Technical Analysis (2nd Edition)</h3>
                      </div>
                      <!--<div class="product-image floated">
                        <img src="https://stockmarketmastery.com/img/products/tt-book.jpg" alt="Tensile Trading Book" />
                      </div>-->
                      <p class="info info-margin-15">
                        This new edition of <em>Introduction to Technical Analysis</em> explains how to evaluate trends, highs, lows, price/column relationships, price patterns, moving averages, and momentum indicators for a contemporary
                        audience, using fully new, updated charts, diagrams, and examples.
                      </p>
                      <p class="info info-margin-15">
                        Pring uses his trademark expertise and engaging writing style to simplify concepts for traders. Links to an exclusive downloadable video featuring original content and in-depth explanations of the material is also included.
                      </p>
                      <div class="btn-row">
                        <a href="https://store.stockcharts.com/products/martin-prings-introduction-to-technical-analysis-2nd-edition?_pos=5&_sid=83c3094d6&_ss=r" class="btn btn-green btn-transparent btn-rounded btn-sm btn-margin-0">Purchase&nbsp;Now&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        <a href="https://store.stockcharts.com/products/martin-prings-introduction-to-technical-analysis-2nd-edition?_pos=5&_sid=83c3094d6&_ss=r" class="btn-row-link link-grey">or Learn More</a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->

                  <div class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>

                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <h3>Investment Psychology Explained</h3>
                      </div>
                      <!--<div class="product-image floated">
                        <img src="https://stockmarketmastery.com/img/products/tt-book.jpg" alt="Tensile Trading Book" />
                      </div>-->
                      <h4 class="sec-subtitle">
                        Expert advice in a back-to-basics handbook on how to beat the market-the classic way
                      </h4>
                      <p class="info info-margin-15">
                        In Investment Psychology Explained Martin J. Pring, one of the most respected independent investment advisors in the world, argues that in the revisionist '90s there are no quick, magical paths to market success. Rather, he emphasizes the timeless values
                        of hard work, patience, and self-discipline-and much more.
                      </p>
                      <p class="info info-margin-15">
                        Reading Investment Psychology Explained will give you a renewed appreciation of the classic trading principles that, through bull and bear markets, have worked time and again. You'll see, with the help of numerous illustrative examples, what goes into
                        making an effective investor-and how you can work toward achieving that successful profile.
                      </p>
                      <div class="btn-row">
                        <a href="https://store.stockcharts.com/products/investment-psychology-explained?_pos=3&_sid=83c3094d6&_ss=r" class="btn btn-green btn-transparent btn-rounded btn-sm btn-margin-0">Purchase&nbsp;Now&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        <a href="https://store.stockcharts.com/products/investment-psychology-explained?_pos=3&_sid=83c3094d6&_ss=r" class="btn-row-link link-grey">or Learn More</a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->
                </div><!-- end of PRODUCT GRID -->
              </div><!-- end of BOOKS -->

            </div>
          </div><!-- end of PARTNER PRODUCTS -->

        </div><!-- end of .CONTAINER-FLUID -->
      </div><!-- end of #PAGECONTENTS -->
    </div><!-- end of #PAGEBODY -->

    <% include ../partials/scc-footer %>
    <% include ../partials/scc-noscript %>
    <% include ../partials/scc-easing-sliding-js %>
  </body>
</html>
