<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/html-head-meta %>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>Gatis Roze | StockCharts Marketplace | StockCharts.com</title>
    
    <% include ../partials/scc-html-head %>
  </head>
  <body id="page-top">
    <% include ../partials/scc-navbar %>

    <!-- PAGEBODY -->
    <div id="pagebody">

      <%- include('../partials/partner-center-header', {
        partnerName: 'Gatis Roze'
      }); -%>

      <!-- PAGECONTENTS -->
      <div id="pagecontents">

        <% include ../partials/partner-links-row %>

        <div class="container-fluid">

          <!-- ABOUT PARTNER -->
          <div id="aboutPartner" class="section bg-white">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 about-partner-sidebar">
                  <div class="partner-headshot">
                    <img src="//d.stockcharts.com/img/bio/gatis-roze.jpg" alt="Gatis Roze" />
                  </div>
                  <div class="textwrap">
                    <h5 class="partner-title">
                      Author, Tensile Trading<br />Co-Founder, Stock Market Mastery
                    </h5>
                    <div class="partner-website">
                      <a href="https://stockmarketmastery.com" target="_blank">StockMarketMastery.com</a>
                    </div>
                    <div class="partner-social">
                      <a href="https://twitter.com/stckmrktmastery" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                      <a href="https://www.facebook.com/StockMarketMastery" target="_blank"><i class="fab fa-fw fa-facebook"></i></a>
                      <a href="https://www.linkedin.com/company/stockmarketmastery" target="_blank"><i class="fab fa-fw fa-linkedin"></i></a>
                      <a href="https://www.youtube.com/channel/UCjvvq5PKRpYWSo4sJ84Ii0g" target="_blank"><i class="fab fa-fw fa-youtube"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12 about-partner-body">
                  <div class="partner-headshot">
                    <img src="//d.stockcharts.com/img/bio/gatis-roze.jpg" alt="Gatis Roze" />
                  </div>
                  <h2 class="sec-title title-blue">ABOUT GATIS</h2>
                  <hr class="line-thick line-50">
                  <p class="info">
                    <b>Gatis Roze</b>, MBA, CMT, is a veteran full-time stock market investor who has traded his own account since 1989 unburdened by the distraction of clients. He holds an MBA from the Stanford Graduate School of Business,
                    is a past president of the Technical Securities Analysts Association (TSAA), and is a Chartered Market Technician (CMT). After several successful entrepreneurial business ventures, Gatis retired in his early 40s to
                    focus on investing in the financial markets. With consistent success as a stock market trader, he began teaching investments at the post-college level in 2000 and continues to do so today. He has taught thousands of
                    investors in sold-out investment courses and seminars throughout the United States, regularly speaking to organizations including the American Association of Individual Investors (AAII), the Market Technicians Association
                    (MTA), Bellevue College and more.
                  </p>
                  <p class="info">
                    Alongside his son, Grayson, Gatis recently published his first book, <a href="http://store.stockcharts.com/products/tensile-trading-1"><em>Tensile Trading: The 10 Essential Stages of Stock Market Mastery</em></a>,
                    under the Wiley Trading Series (2016). In addition, he has released two top-selling DVD seminars, the <a href="http://store.stockcharts.com/products/tensile-trading">Tensile Trading DVD course</a> and <a href="http://store.stockcharts.com/collections/dvds/products/how-to-master-your-asset-allocation-profile">How to Master Your Asset Allocation Profile</a>.
                    Gatis is also the creator of the popular <a href="http://store.stockcharts.com/collections/frontpage/products/tensile-trading-chartpack-by-gatis-roze">Tensile Trading ChartPack</a> for StockCharts users.
                  </p>
                  <div class="partner-social">
                    <a href="https://twitter.com/stckmrktmastery" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                    <a href="https://www.facebook.com/StockMarketMastery" target="_blank"><i class="fab fa-fw fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/stockmarketmastery" target="_blank"><i class="fab fa-fw fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/channel/UCjvvq5PKRpYWSo4sJ84Ii0g" target="_blank"><i class="fab fa-fw fa-youtube"></i></a>
                  </div>
                  <div class="alert alert-secondary more-info">
                    For more information about Gatis Roze and his work, visit his personal website at <a href="https://stockmarketmastery.com" target="_blank" style="font-weight:bold;">StockMarketMastery.com</a>.
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end of ABOUT PARTNER -->

          <!-- PARTNER PRODUCTS -->
          <div id="partnerProducts" class="section sec-md bg-grey">
            <div class="container">

              <!-- BOOKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="fas fa-fw fa-books"></i> BOOKS</h2>
                </div>

                <!-- PRODUCT GRID -->
                <div class="col-xs-12 partner-grid product-grid">
                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <h3>Tensile Trading: The 10 Essential Stages of Stock Market Mastery</h3>
                      </div>
                      <div class="product-image floated">
                        <img src="https://stockmarketmastery.com/img/products/tt-book.jpg" alt="Tensile Trading Book" />
                      </div>
                      <h4 class="sec-subtitle">
                        A detailed 10-stage roadmap for investors to achieve stock market mastery with their own consistently profitable, high-probability investment system
                      </h4>
                      <p class="info info-margin-15">
                        <em>Tensile Trading</em> provides a complete, step-by-step roadmap for investors of all levels, and coaches them on how best to organize the routines and strategies necessary to identify the market's strongest
                        trading opportunities. History is proof that true mastery of the market begins with basic money management protocols, asset protection policies, and organized analysis techniques. With these crucial foundations
                        in place, you can embrace a proven investment methodology, execute an effective trading plan, and develop a reliable system for profitable investing. Consistent, long-run investing success is a result of well-defined
                        goals, carefully-constructed routines and an accurate understanding of the psychological challenges that all investors face.
                      </p>
                      <p class="info info-margin-15">
                        A clear and proven approach easily tailored to fit your specific investing style, Tensile Trading distills the vastness of the financial markets into ten essential stages. It is designed to provide a comprehensive structure to your financial management
                        efforts—helping you make smarter investment decisions, trade more efficiently, and consistently earn greater returns.
                      </p>
                      <div class="btn-row">
                        <a href="https://store.stockcharts.com/collections/top-ten-best-sellers/products/tensile-trading-1" class="btn btn-green btn-transparent btn-rounded btn-sm btn-margin-0">Purchase&nbsp;Now&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        <a href="https://store.stockcharts.com/collections/top-ten-best-sellers/products/tensile-trading-1" class="btn-row-link link-grey">or Learn More</a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->
                </div><!-- end of PRODUCT GRID -->
              </div><!-- end of BOOKS -->

              <!-- VIDEOS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-video-plus"></i> VIDEOS</h2>
                </div>

                <!-- PRODUCT GRID -->
                <div class="col-xs-12 partner-grid product-grid">
                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <div class="product-label label-red">VIDEO COURSE</div>
                        <h3>Tensile Trading Blu-ray: The 10 Essential Stages of Stock Market Mastery - 2 Disc Set</h3>
                      </div>
                      <div class="product-image floated">
                        <img src="https://stockmarketmastery.com/img/products/tt-dvd.jpg" alt="Tensile Trading DVD" />
                      </div>
                      <p class="info info-margin-15">
                        This 6-hour seminar captures the massiveness of the stock market &amp; deciphers it all down to 10 essential stages. It provides a complete step-by-step road map for novice to advanced investors on how best to organize your routines and methodology to
                        produce the most attractive high probability trades the market has to offer. It is the same vital framework Gatis Roze has used to produce consistent stock market profits for over 25 years.
                      </p>
                      <div class="btn-row">
                        <a href="https://store.stockcharts.com/collections/dvds/products/tensile-trading" class="btn btn-green btn-transparent btn-rounded btn-sm btn-margin-0">Purchase&nbsp;Now&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        <a href="https://store.stockcharts.com/collections/dvds/products/tensile-trading" class="btn-row-link link-grey">or Learn More</a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->

                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <div class="product-label label-red">VIDEO COURSE</div>
                        <h3>How to Master Your Asset Allocation Profile - 2 Disc Set</h3>
                      </div>
                      <div class="product-image floated">
                        <img src="https://stockmarketmastery.com/img/products/aa-dvd.jpg" alt="How To Master Your Asset Allocation Profile DVD" />
                      </div>
                      <p class="info info-margin-15">
                        Academic studies have proven that over 90% of our performance as investors is determined by our asset allocation choices. This high- leverage seminar presents transformative investment guidance. It explains the routines and tools necessary to construct
                        your best possible personal portfolio of diversified asset classes to achieve superior long-term returns through all types of business cycles. It teaches you how to match your personality, financial goals, and
                        investing style to an appropriate asset allocated portfolio. Learn the prime strategies for building a diversified and properly correlated portfolio that maximizes returns while minimizing costs and risk exposure.
                      </p>
                      <div class="btn-row">
                        <a href="https://store.stockcharts.com/collections/top-ten-best-sellers/products/how-to-master-your-asset-allocation-profile" class="btn btn-green btn-transparent btn-rounded btn-sm btn-margin-0">Purchase&nbsp;Now&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        <a href="https://store.stockcharts.com/collections/top-ten-best-sellers/products/how-to-master-your-asset-allocation-profile" class="btn-row-link link-grey">or Learn More</a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->
                </div><!-- end of PRODUCT GRID -->
              </div><!-- end of VIDEOS -->

              <!-- COURSES -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-graduation-cap"></i> COURSES</h2>
                </div>

                <!-- PRODUCT GRID -->
                <div class="col-xs-12 partner-grid product-grid">
                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <div class="product-label label-purple">LIVE SEMINAR</div>
                        <h3>Investors Boot Camp</h3>
                      </div>
                      <h4 class="sec-subtitle">
                        2 days. 12 investors. 1 transformative experience.
                      </h4>
                      <p class="info info-margin-15">
                        This is it. The ultimate investing seminar. The one you've been searching for. Two full days totally immersed in the markets, learning from two experts in an intimate, personalized setting unlike any other investing event you've ever attended.
                      </p>
                      <p class="info info-margin-15">
                        Hosted right in the middle of Gatis' own office, you'll have the unique opportunity to step into the real trading room of an accomplished investor and learn exactly what it takes to prosper in the markets. Join Gatis and Grayson as they share their investing
                        knowledge, reveal their secrets to success, and help guide you down the road to financial freedom.
                      </p>
                      <div class="btn-row">
                        <a href="https://stockmarketmastery.com/bootcamp/" class="btn btn-blue btn-transparent btn-rounded btn-sm btn-margin-0">Learn&nbsp;More&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->
                </div><!-- end of PRODUCT GRID -->
              </div><!-- end of COURSES -->

              <!-- CHARTPACKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-box-full"></i> CHARTPACKS</h2>
                </div>

                <!-- PRODUCT GRID -->
                <div class="col-xs-12 partner-grid product-grid">
                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <div class="product-label label-green">FOR STOCKCHARTS MEMBERS</div>
                        <h3>The Tensile Trading ChartPack</h3>
                      </div>
                      <div class="product-image floated">
                        <img src="https://stockmarketmastery.com/img/products/cp-02.png" alt="Tensile Trading ChartPack" />
                      </div>
                      <p class="info info-margin-15">
                        The Tensile Trading ChartPack is a powerful organizational tool that captures the massiveness of the market and boils it all down to a small number of organized and manageable groups of essential ChartLists. The ChartPack facilitates focusing on the key
                        charts that really matter and that will produce the most attractive high probability trades the market has to offer. It is based on the methodology and routines used by Gatis Roze that have produced consistent
                        stock market profits for over 25 years.
                      </p>
                      <div class="btn-row">
                        <a href="https://store.stockcharts.com/collections/stockcharts.com-chartpacks/products/tensile-trading-chartpack-by-gatis-roze" class="btn btn-green btn-transparent btn-rounded btn-sm btn-margin-0">Purchase&nbsp;Now&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        <a href="https://store.stockcharts.com/collections/stockcharts.com-chartpacks/products/tensile-trading-chartpack-by-gatis-roze" class="btn-row-link link-grey">or Learn More</a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->
                </div><!-- end of PRODUCT GRID -->
              </div><!-- end of CHARTPACKS -->

            </div>
          </div><!-- end of PARTNER PRODUCTS -->

        </div><!-- end of .CONTAINER-FLUID -->
      </div><!-- end of #PAGECONTENTS -->
    </div><!-- end of #PAGEBODY -->

    <% include ../partials/scc-footer %>
    <% include ../partials/scc-noscript %>
    <% include ../partials/scc-easing-sliding-js %>
  </body>
</html>
