<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/html-head-meta %>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>Greg Schnell | StockCharts Marketplace | StockCharts.com</title>
    
    <% include ../partials/scc-html-head %>
  </head>
  <body id="page-top">
    <% include ../partials/scc-navbar %>

    <!-- PAGEBODY -->
    <div id="pagebody">

      <%- include('../partials/partner-center-header', {
        partnerName: 'Greg Schnell'
      }); -%>

      <!-- PAGECONTENTS -->
      <div id="pagecontents">

        <% include ../partials/partner-links-row %>

        <div class="container-fluid">

          <!-- ABOUT PARTNER -->
          <div id="aboutPartner" class="section bg-white">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 about-partner-sidebar">
                  <div class="partner-headshot">
                    <img src="//d.stockcharts.com/img/bio/greg-schnell.jpg" alt="Greg Schnell" />
                  </div>
                  <div class="textwrap">
                    <h5 class="partner-title">
                      Senior Technical Analyst, StockCharts.com
                    </h5>
                    <div class="partner-website">
                      <a href="#" target="_blank">GregSchnell.com</a>
                    </div>
                    <div class="partner-social">
                      <a href="https://twitter.com/Schnellinvestor" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                      <a href="https://www.linkedin.com/in/greg-schnell-cmt-mfta-40730544/" target="_blank"><i class="fab fa-fw fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12 about-partner-body">
                  <div class="partner-headshot">
                    <img src="//d.stockcharts.com/img/bio/greg-schnell.jpg" alt="Greg Schnell" />
                  </div>
                  <h2 class="sec-title title-blue">ABOUT GREG</h2>
                  <hr class="line-thick line-50">
                  <p class="info">
                    <b>Greg Schnell</b>, CMT, is a Senior Technical Analyst at StockCharts.com specializing in intermarket and commodities analysis. Greg is also the co-author of <em>Stock Charts for Dummies</em> (Wiley, 2018).
                  </p>
                  <p class="info">
                    Based in Calgary, he is a board member of the Canadian Society of Technical Analysts (CSTA) and the chairman of the CSTA Calgary chapter. He is an active member of both the Market Technicians Association (MTA) and the International Federation of Technical
                    Analysts (IFTA).
                  </p>
                  <p class="info">
                    Greg joined StockCharts.com in 2012 and has be instrumental in helping launch a variety of new blogs and other commentary platforms. Presently, Greg contributes market analysis commentary to The Canadian Technician, Commodities Countdown and Don't Ignore
                    This Chart blogs. His primary technical interest is in the global intermarket relationships between the equities, bonds, currencies and commodities markets.
                  </p>
                  <div class="partner-social">
                    <a href="https://twitter.com/Schnellinvestor" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/greg-schnell-cmt-mfta-40730544/" target="_blank"><i class="fab fa-fw fa-linkedin"></i></a>
                  </div>
                  <div class="alert alert-secondary more-info">
                    For more information about Greg Schnell and his work, visit his personal website at <a href="#" target="_blank" style="font-weight:bold;">GregSchnell.com</a>.
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end of ABOUT PARTNER -->

          <!-- PARTNER PRODUCTS -->
          <div id="partnerProducts" class="section sec-md bg-grey">
            <div class="container">

              <!-- NEWSLETTERS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-newspaper"></i> NEWSLETTERS / COMMENTARY</h2>
                </div>
              </div><!-- end of NEWSLETTERS -->

              <!-- BOOKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="fas fa-fw fa-books"></i> BOOKS</h2>
                </div>

                <!-- PRODUCT GRID -->
                <div class="col-xs-12 partner-grid product-grid">
                  <!-- PRODUCT CARD -->
                  <div class="col-sm-6 col-xs-12 partner-col">
                    <div class="partner-card card-light product-card">
                      <div class="col-header">
                        <h3>Stock Charts For Dummies</h3>
                      </div>
                      <div class="product-image floated">
                        <img src="//d.stockcharts.com/img/scfd-front.jpg" alt="Stock Charts For Dummies Book" />
                      </div>
                      <h4 class="sec-subtitle">
                        The easy way to get started in stock&nbsp;charts
                      </h4>
                      <p class="info info-margin-15">
                        Many trading and technical analysis books focus on how to use charts to make stock trading decisions, but what about how to actually build a chart? <em>Stock Charts for Dummies</em> reveals the important stories
                        charts tell, and how different parameters can impact what you see on the screen. This book will explain some of the most powerful display settings that help traders understand the information in a chart to find
                        outperformance as its beginning.
                      </p>
                      <p class="info info-margin-15">
                        <em>Stock Charts for Dummies</em> will teach you how to build a visually appealing chart and add tools based on the type of trading or investing decision you're trying to make. It will also introduce you to
                        the pros, cons, and best practices of using three key types of charts: Candlesticks, Bar Charts, and Line Charts.
                      </p>
                      <div class="btn-row">
                        <a href="https://store.stockcharts.com/products/stock-charts-for-dummies?_pos=1&_sid=959f7143c&_ss=r" class="btn btn-green btn-transparent btn-rounded btn-sm btn-margin-0">Purchase&nbsp;Now&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                        <a href="https://store.stockcharts.com/products/stock-charts-for-dummies?_pos=1&_sid=959f7143c&_ss=r" class="btn-row-link link-grey">or Learn More</a>
                      </div>
                    </div>
                  </div><!-- end of PRODUCT CARD -->
                </div><!-- end of PRODUCT GRID -->
              </div><!-- end of BOOKS -->

              <!-- RESEARCH SUBSCRIPTIONS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-lightbulb"></i> RESEARCH SUBSCRIPTIONS</h2>
                </div>
              </div><!-- end of RESEARCH SUBSCRIPTIONS -->

              <!-- VIDEOS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-video-plus"></i> VIDEOS</h2>
                </div>
              </div><!-- end of VIDEOS -->

              <!-- COURSES -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-graduation-cap"></i> COURSES</h2>
                </div>
              </div><!-- end of COURSES -->

              <!-- CHARTPACKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-box-full"></i> CHARTPACKS</h2>
                </div>
              </div><!-- end of CHARTPACKS -->

              <!-- SCANPACKS -->
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue title-bordered"><i class="far fa-fw fa-funnel-dollar"></i> SCANPACKS</h2>
                </div>
              </div><!-- end of SCANPACKS -->

            </div>
          </div><!-- end of PARTNER PRODUCTS -->

        </div><!-- end of .CONTAINER-FLUID -->
      </div><!-- end of #PAGECONTENTS -->
    </div><!-- end of #PAGEBODY -->

    <% include ../partials/scc-footer %>
    <% include ../partials/scc-noscript %>
    <% include ../partials/scc-easing-sliding-js %>
  </body>
</html>
